@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

.poem-content p {
  display: inline;
}

#header {
  background-color: #708090;
  height: 100px;
  line-height: 100px;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #222;
}

#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0
}

#header-projects {
  display: block;
  float: left;
  margin-top: 0;
}

#header-projects li {
  display: inline-block;
  padding-left: 15px;
}

#header-projects li:hover ul {
  display: block;
}

#header-projects li ul {
  display: none;
  position: absolute;
  width: 260px;
  line-height: 40px;
  padding: 0;
}

#header-projects li ul li {
  display: block;
  background: grey;
}

#header-projects li ul li a {
  display: block !important;
}

#header-projects li ul li:hover {
  color: white;
  background: black;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.post-container:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.poem {
  max-width: 800px;
  margin: 10px auto;
  padding: 60px;
}

.post-author img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 2px;
  vertical-align: middle;
}

.about-author img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: solid 3px;
}

.post-author span {
  margin-left: 16px;
}

.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

#footer {
  background-color: #708090;
  padding: 50px 0;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
