.tests {
  margin-top: 100px;
}

#test {
  position: relative;
  top: 0px;
  transition: top 2s ease;
  padding: 30px;
}

#test:hover {
  top: 30px;
}

#test2 {
  position: relative;
  animation-fill-mode: forwards;
  padding: 100px;
}

#test2:hover {
  animation: shift 100ms;
  animation-fill-mode: forwards;
}

#test3 {
  position: relative;
  padding: 100px;
}

#test3:hover {
  transform: translate(50px, 100px);
}

#round {
  text-align: center;
  display: inline-block;
  border: solid 2px black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
