@keyframes dark {
  0% {}
  5% {background-color: black;}
  95% {background-color: black;}
  100% {}
}

#nacht {
  border-radius: 10px;
  animation: dark 34.5s;
  animation-delay: 4s;
}

@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#eswird {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 2s;
}

#schritt1 {
  opacity: 0;
  margin: 3px;
  animation: fadein 4s;
  animation-delay: 11s;
}

#schritt2 {
  opacity: 0;
  margin: 3px;
  animation: fadein 4s;
  animation-delay: 14s;
}

#schritt3 {
  opacity: 0;
  margin: 3px;
  animation: fadein 5s;
  animation-delay: 17s;
}

@keyframes fadein2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#mann1 {
  opacity: 0;
  margin: 3px;
  animation: fadein 5.5s;
  animation-delay: 22s;
  animation-fill-mode: forwards;
}

#mann2 {
  opacity: 0;
  margin: 3px 1px 3px 3px;
  animation: fadein 7s;
  animation-delay: 26.5s;
  animation-fill-mode: forwards;
}

@keyframes schuss {
  0% {opacity: 0;}
  50% {opacity: 1;}
  51% {left: 0px; color: #555;}
  52% {left: 150px; color: red;}
  100% {opacity: 0; left: 150px;}
}

#schuss {
  opacity: 0;
  position: relative;
  margin: 1px;
  animation: schuss 7s;
  animation-delay: 26.5s;
  animation-fill-mode: forwards;
}

/*
@keyframes bright {
  0% {}
  5% {background-color: #f2f2f2;}
  95% {background-color: #f2f2f2;}
  100% {}
}

#tag {
  animation: bright 60s;
  animation-delay: 30s;
}
*/


#eswird2 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 34s;
}

#leiche1 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 38s;
}

#leiche2 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 42s;
}

#detektiv1 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 46s;
}

#detektiv2 {
  opacity: 0;
  margin: 3px 1px 3px 0;
  animation: fadein 9s;
  animation-delay: 50s;
}

@keyframes gruen {
  0% {opacity: 0;}
  8% {opacity: 1;}
  25% {color: green; opacity: 1;}
  100% {opacity: 0;}
}

#leichegruen {
  opacity: 0;
  font-weight: bold;
  margin: 3px;
  animation: gruen 50s;
  animation-delay: 52s;
  animation-fill-mode: forwards;
}

#rand {
  opacity: 0;
  margin: 3px;
  animation: fadein 7s;
  animation-delay: 58s;
}

#verwest1 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 65s;
}

#verwest2 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 70s;
}

#verwest3 {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 75s;
}

#schlecht {
  opacity: 0;
  margin: 3px;
  animation: fadein 9s;
  animation-delay: 82s;
}

@keyframes fadein3 {
  0% {opacity: 0;}
  20% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

#erschrocken {
  opacity: 0;
  margin: 3px;
  animation: fadein3 9s;
  animation-delay: 87s;
}

#erschrocken2 {
  opacity: 0;
  margin: 3px 0 3px 0;
  animation: fadein3 7s;
  animation-delay: 89s;
}

#ende {
  opacity: 0;
  margin: 3px;
  animation: fadein2 5s;
  animation-delay: 97s;
  animation-fill-mode: forwards;
}

.poem-content button {
  margin-top: 15px;
  opacity: 0;
  animation: fadein2 2s;
  animation-delay: 100s;
  animation-fill-mode: forwards;
}
